{% extends 'Laba2/base.html' %}
{% load bootstrap3 %}

{% block title %}
    <div class="page-header"> <h2 style="text-align:center;"> Apps Table </h2> </div>
{% endblock %}


{% block content %}

<table class="table table-bordered">
  <thead>
    <tr class="active">
        <th>App ID</th>
        <th>Dev ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Memory</th>
    </tr>
  </thead>
  <tbody>
    {% for foo in apps %}
        <tr>
            <td> {{ foo.app_id }} </td>
            <td> {{ foo.dev_id }} </td>
            <td> {{ foo.name }} </td>
            <td> {{ foo.price }} </td>
            <td> {{ foo.memory }} </td>
        </tr>
    {% endfor %}
  </tbody>

</table>


{% endblock %}