{% extends 'Laba2/base.html' %}
{% load bootstrap3 %}

{% block title %}
    <div class="page-header"> <h2 style="text-align:center;"> Users Table </h2> </div>
{% endblock %}


{% block content %}

<table class="table table-bordered">
  <thead>
    <tr class="active">
        <th>User ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for foo in users %}
        <tr>
            <td> {{ foo.user_id }} </td>
            <td> {{ foo.name }} </td>
            <td> {{ foo.e_mail }} </td>
            <td> {{ foo.phone }} </td>
        </tr>
    {% endfor %}
  </tbody>

</table>


{% endblock %}